<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="FirstConnection"
         connectionString="server=LAPTOP-08L7RT69\SQLEXPRESS;uid=sa;pwd=qyffxzh152505;"/>
  </connectionStrings>
  <appSettings>
    <add key="TargetDir" value=""/>
    <add key="InitTag" value="0"/>
    <add key="ServerIP" value="[::1]"/>
    <add key="Port" value="4999"/>
    <add key="UploadDir" value=""/>
    <add key="Salt" value="Starry"/>
  </appSettings>
</configuration>